# TAREA 2

### Limpieza de datos

Como se denotó en la tarea anterior los datos a utilizar son los correspondientes al Inventario Nacional de Emisiones de Gases y Compuestos de Efecto Invernadero del INECC que se puede encontrar en la siguiente liga: https://datos.gob.mx/busca/dataset/inventario-nacional-de-emisiones-de-gases-y-compuestos-de-efecto-invernadero-inegycei.

De la liga se usan un total de 2 archivos:
* Inventario Nacional de Emisiones de Gases y Compuestos de Efecto Invernadero (INEGYCEI) 1990-2019
* Inventario Nacional de Emisiones de Gases y Compuestos de Efecto Invernadero INEGYCEI 2020-2021

Ambos archivos de Excel tienen formatos que generan conflictos al momento de importarlos por lo que se usó la pestaña de *Automatización* y la función de *Grabar acciones* de Excel para generar un script para copiar solo los datos de las hojas a hojas de trabajo nuevas:

``````
function main(workbook: ExcelScript.Workbook) {
	// Add a new worksheet
	let hoja3 = workbook.addWorksheet();
	let selectedSheet = workbook.getActiveWorksheet();
	// Paste to range A1 on hoja3 from range A2:AF190 on selectedSheet
	hoja3.getRange("A1").copyFrom(selectedSheet.getRange("A2:AF190"), ExcelScript.RangeCopyType.values, false, false);
	// Delete range 1:1 on hoja3
	hoja3.getRange("1:1").delete(ExcelScript.DeleteShiftDirection.up);
}
``````
Una vez generadas las nuevas hojas de datos se les cambia el nombre y se unen todas en un solo archivo al que se le llamó ***solo_valores_1990_2021***.

Se importan las librerías que se necesitarán

In [215]:
import pandas as pd

Leer el archivo y guardar las diferentes hojas en un dataframe distinto

In [4]:
archivo = 'C:/Users/patty/Documents/Maestria Base de Datos/Aprendizaje_Automatico_priv/solo_valores_1990_2021.xlsx'

df = {}
for i in range(1990,2022):
    j = str(i)+'.2'
    df[i] = pd.read_excel(archivo, sheet_name= j)

Podemos mandar a llamar un dataframe para revisar los datos:

In [48]:
df[1990]

,Unnamed: 0,1990,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,CO2,CH4,N2O,HFCs,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NF3,SF6,EMISIONES NETAS\nGg en CO2e,\nEMISIONES\n(sin 3B y 3D)\nGg en CO2e,NaN,NaN
1,NaN,NaN,NaN,NaN,HFC-23,HFC-410A,HFC-43-10mee,HFC-125,HFC-134,HFC-134a,...,C3F8,C4F6,c-C4F8,C5F8,NaN,NaN,NaN,NaN,NaN,NaN
2,Potencial de calentamiento,1,28,265,12400,1924,1650,3170,1120,1300,...,8900,1,9540,2,16100,23500,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EMISIONES NETAS (Gg de CO2e),319999.845468,117840.420104,28337.973,760.63584,0,0,0,0,0,...,0,0,0,0,0,36.517125,467413.123797,466720.011075,NaN,77.5572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Aviación internacional,2052.937,0.396,14.985,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2068.318,NaN,NaN,NaN
177,Marítimo internacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Emisiones de CO2 por quema de biomasa,35955.863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35955.863,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Nota:,Las emisiones de bunkers y las emisiones de CO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Revisamos que todos los dataframes tengan el mismo tamaño

In [71]:
c = True

for i in range(1990,2021):
    if df[i].shape != df[i+1].shape:
        c = False
c

False

Al hacer una pequeño cambio al ciclo podemos saber a partir de que año cambia el tamaño de los data frame:

In [70]:
c = True

for i in range(1990,2021):
    if df[i].shape != df[i+1].shape:
        c = False
        y=i
        break
y

2019

Comparamos los tamaños de cada dataframe:

In [79]:
df[2019].shape

(181, 32)

In [77]:
df[2020].shape

(187, 32)

In [78]:
df[2021].shape

(187, 32)

Podemos ver que la diferencia es en el número de filas y no en las columnas.

Para poder ver las diferencias en las columnas podemos crear un diccionario con la primera columna de cada dataframe para comparar donde son diferentes:

In [181]:
m= {}

for i in range(0,181):
   m[i]= [df[2019].iloc[i,0] , df[2020].iloc[i,0]]

for i in range(181,187):
   m[i]=['-',df[2020].iloc[i,0]]
m

{0: [nan, nan],
 1: [nan, nan],
 2: ['  Potencial de calentamiento', '  Potencial de calentamiento'],
 3: [nan, nan],
 4: ['EMISIONES NETAS (Gg de CO2e)', 'EMISIONES NETAS (Gg de CO2e)'],
 5: ['[1] Energía', '[1] Energía'],
 6: ['[1A] Actividades de quema del combustible',
  '[1A] Actividades de quema del combustible'],
 7: ['[1A1] Industrias de la energía', '[1A1] Industrias de la energía'],
 8: ['[1A1a] Actividad principal producción de electricidad y calor',
  '[1A1a] Actividad principal producción de electricidad y calor'],
 9: ['[1A1b] Refinación del petróleo', '[1A1b] Refinación del petróleo'],
 10: ['[1A1c] Manufactura de combustibles sólidos y otras industrias de la energía',
  '[1A1c] Manufactura de combustibles sólidos y otras industrias de la energía'],
 11: ['[1A2] Industrias manufactura y de la construcción',
  '     1A1ci Fabricación de combustibles sólidos (coque de carbón)'],
 12: ['[1A2a] Hierro y acero', '1A1cii Otras Industrias de la energía  '],
 13: ['[1A2b] Metales no ferrosos',
  '[1A2] Industrias manufactura y de la construcción'],
 14: ['[1A2c] Sustancias químicas', '[1A2a] Hierro y acero'],
 15: ['[1A2d] Pulpa, papel e imprenta', '[1A2b] Metales no ferrosos'],
 16: ['[1A2e] Procesamiento de alimentos, bebidas y tabaco',
  '[1A2c] Sustancias químicas'],
 17: ['[1A2f] Minerales no metálicos', '     1A2ci Petroquímica'],
 18: ['[1A2g] Equipo de transporte', '     1A2cii Industria química'],
 19: ['[1A2h] Maquinaria', '     1A2ciii Fertilizantes'],
 20: ['[1A2i] Minería (con excepción de combustibles) y cantería',
  '[1A2d] Pulpa, papel e imprenta'],
 21: ['[1A2j] Madera y productos de la madera',
  '[1A2e] Procesamiento de alimentos, bebidas y tabaco'],
 22: ['[1A2k] Construcción', '     1A2ei Elaboración de azúcares'],
 23: ['[1A2l] Textiles y cueros', '     1A2eii Elaboración de bebidas'],
 24: ['[1A2m] Industria no especificada',
  '     1A2eiii Elaboración de productos de tabaco'],
 25: ['[1A3] Transporte', '     1A2eiiii Elaboración de cerveza'],
 26: ['[1A3a] Aviación civil', '     1A2eiiiii Elaboración de alimentos'],
 27: ['[1A3b] Autotransporte', '[1A2f] Minerales no metálicos'],
 28: ['[1A3c] Ferrocarriles', '[1A2g] Equipo de transporte'],
 29: ['[1A3d] Navegación marítima y fluvial', '[1A2h] Maquinaria'],
 30: ['[1A3e] Otro transporte',
  '[1A2i] Minería (con excepción de combustibles) y cantería'],
 31: ['[1A4] Otros sectores', '[1A2j] Madera y productos de la madera'],
 32: ['[1A4a] Comercial/institucional', '[1A2k] Construcción'],
 33: ['[1A4b] Residencial', '[1A2l] Textiles y cueros'],
 34: ['[1A4c] Agropecuario/silvicultura/pesca/piscifactorías',
  '[1A2m] Industria no especificada'],
 35: ['[1B] Emisiones fugitivas provenientes de la fabricación de combustibles',
  '     1A2mi Fabricación de vidrio y productos de vidrio'],
 36: ['[1B1] Combustibles sólidos',
  '     1A2mii Fabricación de productos de hule'],
 37: ['[1B1a] Minería carbonífera y manejo del carbón',
  '     1A2miii Otras ramas'],
 38: ['[1B1ai] Minas subterráneas', '[1A3] Transporte'],
 39: ['[1B1aii] Minas superficie', '[1A3a] Aviación civil'],
 40: ['[1B1b] Combustión espontánea y vertederos para quema de carbón',
  '[1A3b] Autotransporte'],
 41: ['[1B2] Petróleo y gas natural', '[1A3c] Ferrocarriles'],
 42: ['[1B2a] Petróleo', '[1A3d] Navegación marítima y fluvial'],
 43: ['1B2ai Venteo petróleo', '[1A3e] Otro transporte'],
 44: ['1B2aii Quemado petróleo', '[1A4] Otros sectores'],
 45: ['1B2aiii Otras fugitivas petróleo', '[1A4a] Comercial/institucional'],
 46: ['[1B2b] Gas natural', '[1A4b] Residencial'],
 47: ['1B2bi Venteo gas natural',
  '[1A4c] Agropecuario/silvicultura/pesca/piscifactorías'],
 48: ['1B2bii Quemado gas natural',
  '[1B] Emisiones fugitivas provenientes de la fabricación de combustibles'],
 49: ['1B2biii Otras fugitivas gas natural', '[1B1] Combustibles sólidos'],
 50: ['[2] Procesos industriales y uso de productos',
  '[1B1a] Minería carbonífera y manejo del carbón'],
 51: ['[2A] Industria de los minerales', '[1B1ai] Minas subterráneas'],
 52: ['[2A1] Producción de cemento', '[1B1aii] Minas superficie'],
 53: ['[2A2] Producción de cal',
  '[1B1b] Combustión espontánea y vertederos para quema de carbón'],
 54: ['[2A3] Producción de vidrio', '[1B2] Petróleo y gas natural'],
 55: ['[2A4] Otros usos de carbonatos', '[1B2a] Petróleo'],
 56: ['[2A5] Otros', '1B2ai Venteo petróleo'],
 57: ['[2B] Industria química', '1B2aii Quemado petróleo'],
 58: ['[2B1] Producción de amoniaco', '1B2aiii Otras fugitivas petróleo'],
 59: ['[2B2] Producción de ácido nítrico', '[1B2b] Gas natural'],
 60: ['[2B3] Producción de ácido adípico', '1B2bi Venteo gas natural'],
 61: ['[2B4] Producción de caprolactama, glioxil y ácido glioxílico',
  '1B2bii Quemado gas natural'],
 62: ['[2B5] Producción de carburo', '1B2biii Otras fugitivas gas natural'],
 63: ['[2B6] Producción de dióxido de titanio',
  '[2] Procesos industriales y uso de productos'],
 64: ['[2B7] Producción de ceniza de sosa', '[2A] Industria de los minerales'],
 65: ['[2B8] Producción petroquímica y negro de humo',
  '[2A1] Producción de cemento'],
 66: ['[2B9] Producción fluoroquímica', '[2A2] Producción de cal'],
 67: ['[2B10] Otros', '[2A3] Producción de vidrio'],
 68: ['[2C] Industria de los metales', '[2A4] Otros usos de carbonatos'],
 69: ['[2C1] Producción de hierro y acero', '[2A5] Otros'],
 70: ['[2C2] Producción de ferroaleaciones', '[2B] Industria química'],
 71: ['[2C3] Producción de aluminio', '[2B1] Producción de amoniaco'],
 72: ['[2C4] Producción de magnesio', '[2B2] Producción de ácido nítrico'],
 73: ['[2C5] Producción de plomo', '[2B3] Producción de ácido adípico'],
 74: ['[2C6] Producción de zinc',
  '[2B4] Producción de caprolactama, glioxil y ácido glioxílico'],
 75: ['[2C7] Otros', '[2B5] Producción de carburo'],
 76: ['[2D] Uso de productos no energéticos de combustibles y de solvente',
  '[2B6] Producción de dióxido de titanio'],
 77: ['[2D1] Uso de lubricantes', '[2B7] Producción de ceniza de sosa'],
 78: ['[2D2] Uso de la cera de parafina',
  '[2B8] Producción petroquímica y negro de humo'],
 79: ['[2D3] Uso de solventes', '[2B9] Producción fluoroquímica'],
 80: ['[2D4] Otros', '[2B10] Otros'],
 81: ['[2E] Industria electrónica', '[2C] Industria de los metales'],
 82: ['[2E1] Circuitos integrados o semiconductores',
  '[2C1] Producción de hierro y acero'],
 83: ['[2E2] Pantalla plana tipo TFT', '[2C2] Producción de ferroaleaciones'],
 84: ['[2E3] Células fotovoltaicas', '[2C3] Producción de aluminio'],
 85: ['[2E4] Fluido de transferencia térmica', '[2C4] Producción de magnesio'],
 86: ['[2E5] Otros', '[2C5] Producción de plomo'],
 87: ['[2F] Uso de productos sustitutos de las sustancias que agotan la capa de ozono',
  '[2C6] Producción de zinc'],
 88: ['[2F1] Refrigeración y aire acondicionado', '[2C7] Otros'],
 89: ['[2F2] Agentes espumantes',
  '[2D] Uso de productos no energéticos de combustibles y de solvente'],
 90: ['[2F3] Protección contra incendios', '[2D1] Uso de lubricantes'],
 91: ['[2F4] Aerosoles', '[2D2] Uso de la cera de parafina'],
 92: ['[2F5] Solventes', '[2D3] Uso de solventes'],
 93: ['[2F6] Otras aplicaciones', '[2D4] Otros'],
 94: ['[2G] Manufactura y utilización de otros productos',
  '[2E] Industria electrónica'],
 95: ['[2G1] Equipos eléctricos',
  '[2E1] Circuitos integrados o semiconductores'],
 96: ['[2G2] SF6 y PFC de otros usos de productos',
  '[2E2] Pantalla plana tipo TFT'],
 97: ['[2G3] N2O de usos de productos', '[2E3] Células fotovoltaicas'],
 98: ['[2G4] Otros', '[2E4] Fluido de transferencia térmica'],
 99: ['[2H] Otros', '[2E5] Otros'],
 100: ['[2H1] Industria de la pulpa y el papel',
  '[2F] Uso de productos sustitutos de las sustancias que agotan la capa de ozono'],
 101: ['[2H2] Industria de la alimentación y las bebidas',
  '[2F1] Refrigeración y aire acondicionado'],
 102: ['[2H3] Otros', '[2F2] Agentes espumantes'],
 103: ['[3] Agricultura, silvicultura y otros usos de la tierra',
  '[2F3] Protección contra incendios'],
 104: [' [3A] Ganado', '[2F4] Aerosoles'],
 105: ['     [3A1] Fermentación entérica', '[2F5] Solventes'],
 106: ['          [3A1a] Bovino', '[2F6] Otras aplicaciones'],
 107: ['          [3A1b] Búfalos',
  '[2G] Manufactura y utilización de otros productos'],
 108: ['             [3A1c] Ovinos', '[2G1] Equipos eléctricos'],
 109: ['          [3A1d] Caprino',
  '[2G2] SF6 y PFC de otros usos de productos'],
 110: ['          [3A1e] Camello', '[2G3] N2O de usos de productos'],
 111: ['          [3A1f] Caballos', '[2G4] Otros'],
 112: ['          [3A1g] Mulas y asnos', '[2H] Otros'],
 113: ['          [3A1h] Porcinos', '[2H1] Industria de la pulpa y el papel'],
 114: ['          [3A1i] Otros  (especificar)',
  '[2H2] Industria de la alimentación y las bebidas'],
 115: ['     [3A2] Gestión del estiércol', '[2H3] Otros'],
 116: ['          [3A2a] Bovinos',
  '[3] Agricultura, silvicultura y otros usos de la tierra'],
 117: ['          [3A2b] Búfalos', ' [3A] Ganado'],
 118: ['             [3A2c] Ovinos', '     [3A1] Fermentación entérica'],
 119: ['          [3A2d] Caprino', '          [3A1a] Bovino'],
 120: ['          [3A2e] Camello', '          [3A1b] Búfalos'],
 121: ['          [3A2f] Caballos', '          [3A1c] Ovinos'],
 122: ['          [3A2g] Mulas y asnos', '          [3A1d] Caprino'],
 123: ['          [3A2h] Porcinos', '          [3A1e] Camello'],
 124: ['          [3A2i] Aves de corral', '          [3A1f] Caballos'],
 125: ['          [3A2g] Otros  (especificar)',
  '          [3A1g] Mulas y asnos'],
 126: ['  [3B] Tierra', '          [3A1h] Porcinos'],
 127: ['     [3B1] Tierra forestales',
  '          [3A1i] Otros  (especificar)'],
 128: ['          [3B1a] Tierras forestales que permanecen como tal',
  '     [3A2] Gestión del estiércol'],
 129: ['          [3B1b] Tierras convertidas a tierras forestales',
  '          [3A2a] Bovinos'],
 130: ['     [3B2] Tierra de cultivo', '          [3A2b] Búfalos'],
 131: ['          [3B2a] Tierras de cultivo que permanecen como tal',
  '          [3A2c] Ovinos'],
 132: ['          [3B2b] Tierras convertidas a tierras de cultivo',
  '          [3A2d] Caprino'],
 133: ['     [3B3] Praderas', '          [3A2e] Camello'],
 134: ['          [3B3a] Praderas que permanecen como tal',
  '          [3A2f] Caballos'],
 135: ['          [3B3b] Tierras convertidas en praderas',
  '          [3A2g] Mulas y asnos'],
 136: ['     [3B4] Humedales', '          [3A2h] Porcinos'],
 137: ['          [3B4a] Humedales que permanecen como tal',
  '          [3A2i] Aves de corral'],
 138: ['          [3B4b] Tierras convertidas en humedales',
  '          [3A2g] Otros  (especificar)'],
 139: ['     [3B5] Asentamientos ', '  [3B] Tierra'],
 140: ['          [3B5a] Asentamientos que permanecen como tal',
  '     [3B1] Tierra forestales'],
 141: ['          [3B5b] Tierras convertidas en asentamientos',
  '          [3B1a] Tierras forestales que permanecen como tal'],
 142: ['     [3B6] Otras tierras ',
  '          [3B1b] Tierras convertidas a tierras forestales'],
 143: ['          [3B6a] Otras tierras que permanecen como tal',
  '     [3B2] Tierra de cultivo'],
 144: ['          [3B6b] Tierras convertidas en otras tierras',
  '          [3B2a] Tierras de cultivo que permanecen como tal'],
 145: ['  [3C] Fuentes agregadas y fuentes de emisión no CO2 de la tierra',
  '          [3B2b] Tierras convertidas a tierras de cultivo'],
 146: ['     [3C1] Emisiones de GEI por quemado de biomasa',
  '     [3B3] Praderas'],
 147: ['          [3C1a] Emisiones de quemado de biomasa en tierras forestales',
  '          [3B3a] Praderas que permanecen como tal'],
 148: ['          [3C1b] Emisiones de quemado de biomasa en tierras de cultivo',
  '          [3B3b] Tierras convertidas en praderas'],
 149: ['          [3C1c] Emisiones de quemado de biomasa en tierras praderas',
  '     [3B4] Humedales'],
 150: ['          [3C1d] Emisiones de quemado de biomasa en otras tierras',
  '          [3B4a] Humedales que permanecen como tal'],
 151: ['     [3C2] Encalado',
  '          [3B4b] Tierras convertidas en humedales'],
 152: ['     [3C3] Aplicación de urea', '     [3B5] Asentamientos '],
 153: ['     [3C4] Emisiones directas de los N2O de los suelos gestionados',
  '          [3B5a] Asentamientos que permanecen como tal'],
 154: ['     [3C5] Emisiones indirectas de los N2O de los suelos gestionados',
  '          [3B5b] Tierras convertidas en asentamientos'],
 155: ['     [3C6] Emisiones indirectas de los N2O de la gestión del estiércol',
  '     [3B6] Otras tierras '],
 156: ['     [3C7] Cultivo del arroz',
  '          [3B6a] Otras tierras que permanecen como tal'],
 157: ['  [3D] Otros',
  '          [3B6b] Tierras convertidas en otras tierras'],
 158: ['     [3D1] Productos de madera recolectada',
  '  [3C] Fuentes agregadas y fuentes de emisión no CO2 de la tierra'],
 159: ['     [3D2] Otros (especificar)',
  '     [3C1] Emisiones de GEI por quemado de biomasa'],
 160: ['[4] Residuos',
  '          [3C1a] Emisiones de quemado de biomasa en tierras forestales'],
 161: ['[4A] Eliminación de residuos sólidos',
  '          [3C1b] Emisiones de quemado de biomasa en tierras de cultivo'],
 162: ['[4A1] Sitios gestionados de eliminación de residuos (rellenos sanitarios)',
  '          [3C1c] Emisiones de quemado de biomasa en tierras praderas'],
 163: ['[4A2] Sitios no controlados de eliminación de residuos ',
  '          [3C1d] Emisiones de quemado de biomasa en otras tierras'],
 164: ['[4A3] Tiraderos a cielo abierto para eliminación de residuos',
  '     [3C2] Encalado'],
 165: ['[4B] Tratamiento biológico de los residuos sólidos',
  '     [3C3] Aplicación de urea'],
 166: ['[4C] Incineración y quema a cielo abierto  de residuos',
  '     [3C4] Emisiones directas de los N2O de los suelos gestionados'],
 167: ['[4C1] Incineración de residuos peligrosos industriales y biológico infeccioso',
  '     [3C5] Emisiones indirectas de los N2O de los suelos gestionados'],
 168: ['[4C2] Quema a cielo abierto de residuos sólidos',
  '     [3C6] Emisiones indirectas de los N2O de la gestión del estiércol'],
 169: ['[4D] Tratamiento y eliminación de aguas residuales',
  '     [3C7] Cultivo del arroz'],
 170: ['[4D1] Tratamiento y eliminación de aguas residuales municipales',
  '  [3D] Otros'],
 171: ['[4D2] Tratamiento y eliminación de aguas residuales industriales',
  '     [3D1] Productos de madera recolectada'],
 172: ['[4E] Otros', '     [3D2] Otros (especificar)'],
 173: ['EMISIONES NETAS (Gg de CO2e)', '[4] Residuos'],
 174: [nan, '[4A] Eliminación de residuos sólidos'],
 175: ['Bunkers',
  '[4A1] Sitios gestionados de eliminación de residuos (rellenos sanitarios)'],
 176: ['Aviación internacional',
  '[4A2] Sitios no controlados de eliminación de residuos '],
 177: ['Marítimo internacional',
  '[4A3] Tiraderos a cielo abierto para eliminación de residuos'],
 178: ['Emisiones de CO2 por quema de biomasa',
  '[4B] Tratamiento biológico de los residuos sólidos'],
 179: [nan, '[4C] Incineración y quema a cielo abierto  de residuos'],
 180: ['Nota:',
  '[4C1] Incineración de residuos peligrosos industriales y biológico infeccioso'],
 181: ['-', '[4C2] Quema a cielo abierto de residuos sólidos'],
 182: ['-', '[4D] Tratamiento y eliminación de aguas residuales'],
 183: ['-', '[4D1] Tratamiento y eliminación de aguas residuales municipales'],
 184: ['-',
  '[4D2] Tratamiento y eliminación de aguas residuales industriales'],
 185: ['-', '[4E] Otros'],
 186: ['-', 'EMISIONES NETAS (Gg de CO2e)']}

Para poder mejorar la visualización la convertimos en un dataframe:

In [176]:
mm = pd.DataFrame.from_dict(m, orient= 'index')
mm

,0,1
0,NaN,NaN
1,NaN,NaN
2,Potencial de calentamiento,Potencial de calentamiento
3,NaN,NaN
4,EMISIONES NETAS (Gg de CO2e),EMISIONES NETAS (Gg de CO2e)
...,...,...
182,-,[4D] Tratamiento y eliminación de aguas residu...
183,-,[4D1] Tratamiento y eliminación de aguas resid...
184,-,[4D2] Tratamiento y eliminación de aguas resid...
185,-,[4E] Otros
186,-,EMISIONES NETAS (Gg de CO2e)

Imprimimos las primeras 20 y ultimas filas para intentar visualizar las diferencias:

In [177]:
mm.iloc[0:20,:] #primeros 20

,0,1
0,NaN,NaN
1,NaN,NaN
2,Potencial de calentamiento,Potencial de calentamiento
3,NaN,NaN
4,EMISIONES NETAS (Gg de CO2e),EMISIONES NETAS (Gg de CO2e)
5,[1] Energía,[1] Energía
6,[1A] Actividades de quema del combustible,[1A] Actividades de quema del combustible
7,[1A1] Industrias de la energía,[1A1] Industrias de la energía
8,[1A1a] Actividad principal producción de elect...,[1A1a] Actividad principal producción de elect...
9,[1A1b] Refinación del petróleo,[1A1b] Refinación del petróleo
10,[1A1c] Manufactura de combustibles sólidos y o...,[1A1c] Manufactura de combustibles sólidos y o...
11,[1A2] Industrias manufactura y de la construcción,1A1ci Fabricación de combustibles sólidos...
12,[1A2a] Hierro y acero,1A1cii Otras Industrias de la energía
13,[1A2b] Metales no ferrosos,[1A2] Industrias manufactura y de la construcción
14,[1A2c] Sustancias químicas,[1A2a] Hierro y acero
15,"[1A2d] Pulpa, papel e imprenta",[1A2b] Metales no ferrosos
16,"[1A2e] Procesamiento de alimentos, bebidas y t...",[1A2c] Sustancias químicas
17,[1A2f] Minerales no metálicos,1A2ci Petroquímica
18,[1A2g] Equipo de transporte,1A2cii Industria química
19,[1A2h] Maquinaria,1A2ciii Fertilizantes

In [179]:
mm.iloc[166:187,:] #ultimos 20

,0,1
166,[4C] Incineración y quema a cielo abierto de ...,[3C4] Emisiones directas de los N2O de lo...
167,[4C1] Incineración de residuos peligrosos indu...,[3C5] Emisiones indirectas de los N2O de ...
168,[4C2] Quema a cielo abierto de residuos sólidos,[3C6] Emisiones indirectas de los N2O de ...
169,[4D] Tratamiento y eliminación de aguas residu...,[3C7] Cultivo del arroz
170,[4D1] Tratamiento y eliminación de aguas resid...,[3D] Otros
171,[4D2] Tratamiento y eliminación de aguas resid...,[3D1] Productos de madera recolectada
172,[4E] Otros,[3D2] Otros (especificar)
173,EMISIONES NETAS (Gg de CO2e),[4] Residuos
174,NaN,[4A] Eliminación de residuos sólidos
175,Bunkers,[4A1] Sitios gestionados de eliminación de res...
176,Aviación internacional,[4A2] Sitios no controlados de eliminación de ...
177,Marítimo internacional,[4A3] Tiraderos a cielo abierto para eliminaci...
178,Emisiones de CO2 por quema de biomasa,[4B] Tratamiento biológico de los residuos sól...
179,NaN,[4C] Incineración y quema a cielo abierto de ...
180,Nota:,[4C1] Incineración de residuos peligrosos indu...
181,-,[4C2] Quema a cielo abierto de residuos sólidos
182,-,[4D] Tratamiento y eliminación de aguas residu...
183,-,[4D1] Tratamiento y eliminación de aguas resid...
184,-,[4D2] Tratamiento y eliminación de aguas resid...
185,-,[4E] Otros
186,-,EMISIONES NETAS (Gg de CO2e)

Podemos ver que las filas varian ya que las bases de datos de 2020 y 2021 tiene un desglose adicional al de los años previos y adicional a eso se tienen más filas al final de las tablas en los años de 1990.

In [212]:
df[2020][0:1]

,Unnamed: 0,2020,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,CO2,CH4,N2O,HFCs,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NF3,SF6,EMISIONES NETAS\nGg en CO2e,EMISIONES\n(sin 3B y 3D)\nGg en CO2e,NaN,NaN

In [47]:
col1= list(df[1990].iloc[0,:])
col1

[nan,
 'CO2',
 'CH4',
 'N2O',
 'HFCs',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'PFCs',
 nan,
 nan,
 nan,
 nan,
 nan,
 'NF3',
 'SF6',
 'EMISIONES NETAS\nGg en CO2e',
 ' \nEMISIONES\n(sin 3B y 3D)\nGg en CO2e',
 nan,
 nan]